@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font: normal normal 16px/1.6 sans-serif;
}

body, button {
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  line-height: 1.5;
}

menu {
  list-style: none;
}

menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
  font-size: clamp(1.8rem, 4.5vw, 4.5rem);
}

h3 {
  font-size: clamp(1.6rem, 4vw, 4rem);
}

h4 {
  font-size: clamp(1.4rem, 3.5vw, 3.5rem);
}

h5 {
  font-size: clamp(1.2rem, 3vw, 3rem);
}

h6 {
  font-size: clamp(1.1rem, 2.5vw, 2.5rem);
}

pre {
  overflow-y: auto;
  overflow-x: auto;
}

dl, ul, ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

dd, li {
  display: list-item;
  margin-inline-start: 40px;
}

dt {
  text-decoration: underline wavy;
}

dd {
  list-style: square inside;
}

strong {
  font-weight: bolder;
}

em {
  font-style: oblique;
}

ins {
  text-decoration: double underline;
}

ins::before,
ins::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: yellow;
}

ins::before {
  content: " [insertion start] ";
}

ins::after {
  content: " [insertion end] ";
}

del {
  text-decoration: double line-through;
}

del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: tomato;
}

del::before {
  content: " [deletion start] ";
}

del::after {
  content: " [deletion end] ";
}

s::before,
s::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

s::before {
  content: " [start of stricken text] ";
}

s::after {
  content: " [end of stricken text] ";
}

mark {
  background-color: internal value;
  color: internal value;
}

mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: tomato;
}

mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}

data:hover::after {
  content: "(" attr(value) ")";
  font-size: smaller;
}

dfn::before {
  content: "(";
}

dfn::after {
  content: ")";
}

abbr {
  display: inline;
  cursor: help;
}

address {
  font-style: normal;
}

a:link, a:visited {
  color: internal value;
  text-decoration: 0.5px dashed underline;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: internal value;
}

a:hover {
  text-decoration: underline;
  transition: 1s;
}

img {
  display: inline-block;
  max-width: 100%;
}

code {
  font: normal normal 1rem/1.6 monospace;
  color: black;
  word-wrap: break-word;
  background-color: #eee;
  border-radius: 3px;
  padding: 0 3px;
}

samp {
  font: normal normal 1rem/1.6 monospace;
  color: crimson;
  word-wrap: break-word;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

kbd {
  font: normal normal 1rem/1.6 monospace;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  padding: 2px 4px;
  white-space: nowrap;
}

var {
  font: italic bold 1rem/1.6 monospace;
}

iframe {
  border: none;
}

button, input[type=button i], input[type=submit i], input[type=reset i] {
  display: inline-block;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
}

.B__E--M {
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 9999;
  opacity: 0.5;
}
.B__E--M:hover {
  opacity: 1;
  scale: 1.2;
  transition: 1s;
  transform: rotateZ(-90deg);
}
.B__E--M button {
  border: none;
  background: none;
}

/* PROJECT */
#material-review-1 div {
  padding: 10px 30px;
  border-width: 1px 2px 3px 4px;
  border-style: solid dashed dotted double;
  border-color: white grey lightgray black;
  background-color: orange;
  font-family: sans-serif;
}
#material-review-1 div h1 {
  font-family: cursive;
  font-size: 60px;
  font-weight: 100;
  text-align: center;
}
#material-review-1 h2 {
  margin: 20px 300px 80px 300px;
  font-family: serif;
}
#material-review-1 h3 {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 100px;
  padding: 40px;
  background-color: blue;
  color: lime;
  font-family: sans-serif;
}
#material-review-1 h4 {
  height: 100px;
  margin: 20px;
}
#material-review-1 h5 {
  color: #bc1288;
}
#material-review-1 h6 {
  color: rgb(230, 20, 150);
}
#material-review-1 ul,
#material-review-1 ol {
  margin-left: 1em;
  border-left: 2px solid gray;
}
#material-review-1 li {
  margin-left: 2em;
  border-left: 2px solid gray;
}
#material-review-1 .citrom {
  background-color: yellow;
}
#material-review-1 .nagybetus {
  font-size: 40px;
}
#material-review-1 form {
  width: 600px;
  border: 2px solid white;
  padding: 100px 60px 40px 20px;
}
#material-review-1 form input {
  background-color: red;
}
#material-review-1 form #text {
  background-color: pink;
}

#workshop-1-1 body {
  padding: 10px;
}
#workshop-1-1 body div {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 4px solid black;
  background: yellow;
}
#workshop-1-1 body .first {
  border: 4px solid red;
}
#workshop-1-1 body .second {
  border: 4px solid #000000;
}
#workshop-1-1 body .lime div {
  background-color: lime;
}
#workshop-1-1 body .white div {
  background-color: lime;
}
#workshop-1-1 body .white .second {
  background-color: white;
}
#workshop-1-1 body .blue div {
  background-color: lime;
}
#workshop-1-1 body .blue .second {
  background-color: white;
}
#workshop-1-1 body .blue .fourth {
  border-color: blue;
}
#workshop-1-1 body .purple div {
  background-color: lime;
}
#workshop-1-1 body .purple .second {
  background-color: white;
}
#workshop-1-1 body .purple .fourth {
  border-color: blue;
}
#workshop-1-1 body .purple .fifth {
  background-color: yellow;
  border-color: purple;
}

#workshop-1-2 h1 {
  padding: 20px;
  background-color: red;
}
#workshop-1-2 h2 {
  margin: 20px;
  background-color: orange;
}

#workshop-1-3 h1 {
  width: 300px;
  margin: 10px;
  border: 5px solid #7dce94;
  padding: 10px 20px 30px 40px;
  background-color: #0d91a1;
  color: #015668;
  font-family: cursive;
}

#workshop-1-4 main {
  width: 300px;
  margin: 10px;
  border: 5px solid #4285f4;
  color: white;
  font-family: cursive;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
#workshop-1-4 main p {
  padding: 10px 20px;
}
#workshop-1-4 main .north {
  background-color: #e67676;
}
#workshop-1-4 main .east {
  background-color: #f2f062;
}
#workshop-1-4 main .south {
  background-color: #a9e6e6;
}
#workshop-1-4 main .west {
  background-color: #7692e4;
}

#workshop-1-5 section {
  width: 300px;
  margin: 10px;
  border: 5px solid #4285f4;
  color: white;
  font-family: cursive;
  font-size: 24px;
  text-align: center;
}
#workshop-1-5 section p {
  padding: 10px 20px;
}
#workshop-1-5 section .north {
  background-color: #e67676;
}
#workshop-1-5 section .south {
  background-color: #a9e6e6;
}

#workshop-1-6 {
  font-family: serif;
}
#workshop-1-6 h1 {
  color: red;
}
#workshop-1-6 h2 {
  color: purple;
}
#workshop-1-6 ul,
#workshop-1-6 ol {
  margin-left: 1em;
}
#workshop-1-6 li {
  margin-left: 2em;
}
#workshop-1-6 .pink {
  color: violet;
}

#workshop-1-7 {
  font-family: cursive;
  font-size: 24px;
}
#workshop-1-7 form {
  margin: 10px;
}
#workshop-1-7 input,
#workshop-1-7 label {
  display: block;
}
#workshop-1-7 input {
  margin-bottom: 20px;
  border: 2px limegreen solid;
  border-radius: 5px;
  padding: 10px 20px;
}
#workshop-1-7 .btn {
  border: none;
  border-radius: 50px;
  padding: 20px;
  background-color: limegreen;
  font-family: cursive;
  font-size: 24px;
}

#workshop-1-8 {
  font-family: cursive;
}
#workshop-1-8 form {
  width: 50%;
  margin: 0 auto;
}
#workshop-1-8 form fieldset {
  padding: 5px 10px;
}

#material-review-2 .container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}
#material-review-2 .container .newsletter {
  position: relative;
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 20px;
  color: gray;
}
#material-review-2 .container .newsletter h3 {
  margin-top: 0;
}
#material-review-2 .container .newsletter p {
  margin: 10px 0;
}
#material-review-2 .container .newsletter #email {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 4px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
}
#material-review-2 .container .newsletter #checkbox {
  position: relative;
  top: 1px;
}
#material-review-2 .container .newsletter .btn {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #3cb878;
  color: white;
}
#material-review-2 .container .newsletter #closex {
  position: absolute;
  top: 0;
  right: 4px;
  cursor: pointer;
}
#material-review-2 .container #questionmark {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px 2px grey;
  background-color: #3cb878;
  color: white;
  font-size: 70px;
  text-align: center;
  cursor: help;
}
#material-review-2 .container #card-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex;
}
#material-review-2 .container #card-holder .card {
  width: 180px;
  margin: 20px 0;
  padding: 20px 0;
  box-shadow: 0px 0px 7px 2px grey;
  background-color: #3cb878;
  color: white;
  text-align: center;
}
#material-review-2 .container #card-holder .card h3 {
  margin: 0;
}

#workshop-2-1 a {
  display: block;
  margin: 10px;
  color: green;
  font-family: sans-serif;
}
#workshop-2-1 a:hover {
  color: lime;
  text-decoration: none;
}

#workshop-2-2 {
  text-align: center;
}
#workshop-2-2 img {
  width: 300px;
  margin: 50px;
}
#workshop-2-2 img:hover {
  width: 400px;
  margin: 0;
}

#workshop-2-3 {
  font-family: sans-serif;
}
#workshop-2-3 main {
  display: flex;
}
#workshop-2-3 main section {
  width: 200px;
  text-align: center;
}
#workshop-2-3 main section img {
  width: 150px;
}
#workshop-2-3 main section a {
  display: block;
}

#workshop-2-4 .item {
  width: 150px;
  height: 150px;
}
#workshop-2-4 .green {
  background-color: #51d400;
}
#workshop-2-4 .yellow {
  background-color: #ffd62a;
}
#workshop-2-4 .purple {
  background-color: #b02afe;
}
#workshop-2-4 .flex {
  display: flex;
  margin: 20px;
}
#workshop-2-4 .box__2 {
  flex-direction: row-reverse;
}
#workshop-2-4 .box__3 {
  flex-flow: column-reverse;
}
#workshop-2-4 .box__4 {
  flex-wrap: wrap;
  width: 300px;
}
#workshop-2-4 .box__5 {
  flex-flow: row-reverse wrap;
  width: 300px;
}

#workshop-2-5 .flex {
  display: flex;
  width: 400px;
  height: 150px;
  margin: 5px;
  background-color: #ffd62a;
}
#workshop-2-5 .flex .item {
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 5px;
  background-color: #b02afe;
  list-style-type: none;
}
#workshop-2-5 .box__2 {
  align-items: center;
}
#workshop-2-5 .box__3 {
  justify-content: space-between;
  align-items: center;
}
#workshop-2-5 .box__3 .item {
  margin: 0;
}
#workshop-2-5 .box__4 {
  flex-direction: row-reverse;
  align-items: flex-end;
}
#workshop-2-5 .box__4 .item {
  margin: 0;
  margin-left: 5px;
}

#workshop-2-6 nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: purple;
}
#workshop-2-6 nav .btn {
  display: block;
  min-height: 30px;
  background-color: cyan;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
#workshop-2-6 nav .large {
  width: 60px;
}
#workshop-2-6 main {
  display: flex;
  height: 500px;
}
#workshop-2-6 main article {
  flex-grow: 4;
  background-color: yellow;
}
#workshop-2-6 main aside {
  flex-grow: 1;
  background-color: lime;
}

#workshop-2-7 nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 10px white solid;
  padding-left: 100px;
  background-color: purple;
}
#workshop-2-7 nav .btn {
  display: block;
  width: 50px;
  min-height: 30px;
  background-color: cyan;
  margin-right: 10px;
  cursor: pointer;
}
#workshop-2-7 nav .large {
  width: 100px;
}
#workshop-2-7 main {
  display: flex;
  height: 500px;
  margin: 0 100px;
}
#workshop-2-7 main article {
  flex-grow: 4;
  background-color: yellow;
}
#workshop-2-7 main aside {
  flex-grow: 1;
  background-color: lime;
}
#workshop-2-7 footer {
  margin: 10px 100px;
  height: 80px;
  background-color: lightgray;
}

#workshop-2-8 div {
  width: 80%;
  margin: 0 auto;
}
#workshop-2-8 header {
  height: 20vh;
  background-color: aqua;
}
#workshop-2-8 main {
  display: flex;
  height: 70vh;
}
#workshop-2-8 main section {
  flex-grow: 1;
  background-color: orange;
}
#workshop-2-8 main article {
  position: relative;
  flex-grow: 3;
  margin: 0 50px;
  background-color: red;
}
#workshop-2-8 main article address {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  background-color: black;
}
#workshop-2-8 main aside {
  flex-grow: 1;
  background-color: purple;
}
#workshop-2-8 footer {
  height: 10vh;
  background-color: blue;
}

#workshop-3-1 {
  color: #222;
  font-family: sans-serif;
}
#workshop-3-1 header {
  position: relative;
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  background: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png") no-repeat center center;
  background-size: cover;
}
#workshop-3-1 header h1 {
  position: absolute;
  left: 20%;
  bottom: 10%;
  color: #222;
  font: normal normal 5rem/1 cursive;
}
#workshop-3-1 header h1 span {
  font-size: 2.5rem;
}
#workshop-3-1 main {
  width: 60%;
  margin: 50px auto;
}
#workshop-3-1 main .intro {
  font-size: 1.25rem;
}
#workshop-3-1 main ul {
  margin: 1em 0;
  margin-left: 1em;
}
#workshop-3-1 main li {
  margin-left: 2em;
  list-style: square;
}
#workshop-3-1 main section {
  padding: 2em;
}
#workshop-3-1 main section h2 {
  text-transform: uppercase;
}
#workshop-3-1 main section article {
  margin: 2em 0;
}
#workshop-3-1 main section article h3 {
  line-height: 1;
}
#workshop-3-1 main section article h3 em {
  font-family: serif;
  font-size: 15px;
  font-style: italic;
}
#workshop-3-1 main blockquote {
  position: relative;
  padding: 1em;
  padding-right: 2em;
  background-color: #222;
  color: #fff;
  font-family: cursive;
  font-size: 3rem;
}
#workshop-3-1 main blockquote::before {
  content: "”";
  position: absolute;
  top: -25px;
  left: 1%;
  color: #fff;
  font-size: 5rem;
}
#workshop-3-1 main hr {
  border: 2px solid #222;
}

#workshop-3-2 {
  color: #222;
  font-family: sans-serif;
}
#workshop-3-2 header {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
}
#workshop-3-2 header nav {
  width: 100%;
  position: fixed;
  background-color: #222;
  z-index: 2;
}
#workshop-3-2 header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#workshop-3-2 header nav ul li {
  margin: 1em;
  list-style-type: none;
}
#workshop-3-2 header nav ul li a {
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
}
#workshop-3-2 header .container {
  display: flex;
  margin-top: 50px;
}
#workshop-3-2 header .container figure {
  flex-grow: 1;
  background-image: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
}
#workshop-3-2 header .container .intro {
  flex-grow: 2;
  padding: 2em;
  font-size: 1.25rem;
}
#workshop-3-2 header .container .intro ul {
  margin: 1em 0;
  margin-left: 1em;
}
#workshop-3-2 header .container .intro li {
  margin-left: 2em;
  list-style: square;
}
#workshop-3-2 header h1 {
  position: absolute;
  top: 45vh;
  left: 10%;
  color: #222;
  font: normal normal 5rem/1 cursive;
}
#workshop-3-2 header h1 span {
  font-size: 2.5rem;
}
#workshop-3-2 main {
  width: 60%;
  margin: 50px auto;
}
#workshop-3-2 main ul {
  margin: 1em 0;
  margin-left: 1em;
}
#workshop-3-2 main li {
  margin-left: 2em;
  list-style: square;
}
#workshop-3-2 main section {
  padding: 2em;
}
#workshop-3-2 main section h2 {
  text-transform: uppercase;
}
#workshop-3-2 main section article {
  margin: 2em 0;
}
#workshop-3-2 main section article h3 {
  line-height: 1;
}
#workshop-3-2 main section article h3 em {
  font-family: serif;
  font-size: 15px;
  font-style: italic;
}
#workshop-3-2 main blockquote {
  position: relative;
  padding: 1em;
  padding-right: 2em;
  background-color: #222;
  color: #fff;
  font-family: cursive;
  font-size: 3rem;
}
#workshop-3-2 main blockquote::before {
  content: "”";
  position: absolute;
  top: -25px;
  left: 1%;
  color: #fff;
  font-size: 5rem;
}
#workshop-3-2 main hr {
  border: 2px solid #222;
}

#workshop-4-1 .big {
  color: blue;
}
#workshop-4-1 .container div {
  font-weight: bolder;
  border: 1px solid green;
}
#workshop-4-1 .b329 {
  font-weight: bolder;
}
#workshop-4-1 p {
  background-color: yellow;
}

#workshop-4-2 p {
  border: 1px solid black;
}
#workshop-4-2 p:nth-of-type(1):hover {
  background-color: red;
}
#workshop-4-2 p:nth-of-type(2):hover {
  background-color: orange;
}
#workshop-4-2 p:nth-of-type(3):hover {
  background-color: yellow;
}
#workshop-4-2 p:nth-of-type(4):hover {
  background-color: green;
}
#workshop-4-2 p:nth-of-type(5):hover {
  background-color: blue;
}
#workshop-4-2 p:nth-of-type(6):hover {
  background-color: indigo;
}
#workshop-4-2 p:nth-of-type(7):hover {
  background-color: violet;
}

#workshop-4-3 section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 30px;
  border: 1px solid blue;
  padding: 30px;
}
#workshop-4-3 section div {
  width: 100px;
  height: 100px;
}
#workshop-4-3 .flexbox__1 div {
  background-color: blue;
}
#workshop-4-3 .flexbox__2 {
  background-color: orange;
}
#workshop-4-3 .flexbox__2 div {
  background-color: purple;
}

#material-review-4 .kontener {
  display: flex;
}
#material-review-4 .kontener .doboz {
  width: 100px;
  height: 100px;
}
#material-review-4 ul {
  margin-left: 1em;
}
#material-review-4 ul li {
  margin-left: 2em;
  background-color: lightblue;
}
#material-review-4 ul .sarga {
  background-color: yellow;
}

#workshop-5-5 header h1 {
  width: 300px;
  margin: 10px;
  border: 5px solid #7dce94;
  padding: 10px 20px 30px 40px;
  background-color: #0d91a1;
  color: #015668;
  font-family: cursive;
}
#workshop-5-5 main {
  width: 300px;
  margin: 10px;
  border: 5px solid #4285f4;
  color: white;
  font-family: cursive;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
#workshop-5-5 main p {
  padding: 10px 20px;
}
#workshop-5-5 main .north {
  background-color: #e67676;
}
#workshop-5-5 main .east {
  background-color: #f2f062;
}
#workshop-5-5 main .south {
  background-color: #a9e6e6;
}
#workshop-5-5 main .west {
  background-color: #7692e4;
}

#workshop-5-6 .left-margin {
  margin-left: 2em;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22_reset.scss%22,%22style.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAgBA;EACE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;AAAA;EAEE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;AAAA;EAEE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;AAAA;EAEE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;AAAA;EAEE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;;;AAIJ;ACvSC;EACC;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;;AAIF;EACC;EACA;;AAGD;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGD;EACC;EACA;;AAGD;EACC;;AAGD;EACC;;AAGD;AAAA;EAEC;EACA;;AAGD;EACC;EACA;;AAGD;EACC;;AAGD;EACC;;AAGD;EACC;EACA;EACA;;AAEA;EACC;;AAGD;EACC;;;AAMF;EACC;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;;AAGD;EACC;;AAGD;EACC;;AAIA;EACC;;AAKD;EACC;;AAGD;EACC;;AAKD;EACC;;AAGD;EACC;;AAGD;EACC;;AAKD;EACC;;AAGD;EACC;;AAGD;EACC;;AAGD;EACC;EACA;;;AAOH;EACC;EACA;;AAGD;EACC;EACA;;;AAKD;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;;AAKD;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;;AAGD;EACC;;AAGD;EACC;;AAGD;EACC;;AAGD;EACC;;;AAMF;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;;AAGD;EACC;;AAGD;EACC;;;AAKH;EACC;;AAEA;EACC;;AAGD;EACC;;AAGD;AAAA;EAEC;;AAGD;EACC;;AAGD;EACC;;;AAIF;EACC;EACA;;AAEA;EACC;;AAGD;AAAA;EAEC;;AAGD;EACC;EACA;EACA;EACA;;AAGD;EACC;EACA;EACA;EACA;EACA;EACA;;;AAIF;EACC;;AAEA;EACC;EACA;;AAEA;EACC;;;AAMF;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;;AAGD;EACC;;AAGD;EACC;EACA;EACA;EACA;EACA;EACA;;AAGD;EACC;EACA;;AAGD;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAGD;EACC;EACA;EACA;EACA;;AAIF;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGD;EACC;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;;;AAQJ;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;;;AAKH;EACC;;AAEA;EACC;EACA;;AAEA;EACC;EACA;;;AAKH;EACC;;AAEA;EACC;;AAEA;EACC;EACA;;AAEA;EACC;;AAGD;EACC;;;AAOH;EACC;EACA;;AAGD;EACC;;AAGD;EACC;;AAGD;EACC;;AAGD;EACC;EACA;;AAGD;EACC;;AAGD;EACC;;AAGD;EACC;EACA;;AAGD;EACC;EACA;;;AAKD;EACC;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;;AAIF;EACC;;AAGD;EACC;EACA;;AAEA;EACC;;AAIF;EACC;EACA;;AAEA;EACC;EACA;;;AAMF;EACC;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;;AAGD;EACC;;AAIF;EACC;EACA;;AAEA;EACC;EACA;;AAGD;EACC;EACA;;;AAMF;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;;AAGD;EACC;;AAIF;EACC;EACA;EACA;;AAEA;EACC;EACA;;AAGD;EACC;EACA;;AAIF;EACC;EACA;EACA;;;AAKD;EACC;EACA;;AAGD;EACC;EACA;;AAGD;EACC;EACA;;AAEA;EACC;EACA;;AAGD;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;;AAIF;EACC;EACA;;AAIF;EACC;EACA;;;AAIF;EACC;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EAEA;;AAEA;EACC;EACA;EACA;EACA;EACA;;AAEA;EACC;;AAKH;EACC;EACA;;AAEA;EACC;;AAGD;EACC;EACA;;AAGD;EACC;EACA;;AAGD;EACC;;AAEA;EACC;;AAGD;EACC;;AAEA;EACC;;AAEA;EACC;EACA;EACA;;AAMJ;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;;AAIF;EACC;;;AAKH;EACC;EACA;;AAEA;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;;AAEA;EACC;EACA;;AAEA;EACC;EACA;EACA;;AAMJ;EACC;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAGD;EACC;EACA;EACA;;AAEA;EACC;EACA;;AAGD;EACC;EACA;;AAKH;EACC;EACA;EACA;EACA;EACA;;AAEA;EACC;;AAKH;EACC;EACA;;AAEA;EACC;EACA;;AAGD;EACC;EACA;;AAGD;EACC;;AAEA;EACC;;AAGD;EACC;;AAEA;EACC;;AAEA;EACC;EACA;EACA;;AAMJ;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;EACA;EACA;EACA;;AAIF;EACC;;;AAMF;EACC;;AAIA;EACC;EACA;;AAIF;EACC;;AAGD;EACC;;;AAKD;EACC;;AAEA;EACC;;AAED;EACC;;AAED;EACC;;AAED;EACC;;AAED;EACC;;AAED;EACC;;AAED;EACC;;;AAMF;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;;AAKD;EACC;;AAIF;EACC;;AAEA;EACC;;;AAMF;EACC;;AAEA;EACC;EACA;;AAIF;EACC;;AAEA;EACC;EACA;;AAGD;EACC;;;AAOD;EACC;EACA;EACA;EACA;EACA;EACA;EACA;;AAIF;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;;AAGD;EACC;;AAGD;EACC;;AAGD;EACC;;AAGD;EACC;;;AAMF;EACC%22,%22file%22:%22style.css%22%7D */
