@use 'reset' as *;

:root {
  /* Variables */
}

#workshop-4-1 {
  .big {
    color: blue;
  }

  .container {
    div {
      font-weight: bolder;
      border: 1px solid green;
    }
  }

  .b329 {
    font-weight: bolder;
  }

  p {
    background-color: yellow;
  }
}
