@use 'reset' as *;

:root {
  /* Variables */
}

#workshop-1-1 {
  body {
    padding: 10px;

    div {
      display: inline-block;
      margin: 10px;
      padding: 5px;
      border-radius: 10px;
      border: 4px solid black;
      background: yellow;
    }

    .first {
      border: 4px solid red;
    }

    .second {
      border: 4px solid #000000;
    }

    .lime {
      div {
        background-color: lime;
      }
    }

    .white {
      div {
        background-color: lime;
      }

      .second {
        background-color: white;
      }
    }

    .blue {
      div {
        background-color: lime;
      }

      .second {
        background-color: white;
      }

      .fourth {
        border-color: blue;
      }
    }

    .purple {
      div {
        background-color: lime;
      }

      .second {
        background-color: white;
      }

      .fourth {
        border-color: blue;
      }

      .fifth {
        background-color: yellow;
        border-color: purple;
      }
    }
  }
}
