@use 'reset' as *;

:root {
  /* Variables */
}

#material-review-3 {
  text-align: center;

  h4,
  table,
  ul {
    padding: 1em;
  }

  hr {
    margin: 2em;
  }

  li {
    list-style-type: none;
  }

  .syntax {
    margin: auto;
    padding: 5px 4px;
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    width: 50%;

    figcaption {
      background-color: #222;
      color: #ccc;
      font: italic smaller sans-serif;
      padding: 3px 2px;
      text-align: center;
    }
  }
}
